@use "variables";

.podcastCard {
  display: flex;
  gap: 16px;
  background-color: variables.color("Navy-600");
  color: variables.color("Gray-100");
  align-items: center;
  font-family: "poppins";

  .podcastInfo {
    display: flex;
    flex-direction: column;
  }

  .podcastInfo h1 {
    font-weight: 600;
  }

  .podcastInfo p {
    color: variables.color("Gray-400");
  }

  .podcastCover {
    border-radius: 8px;
  }
}
