@use "variables";

.podcastCard {
  position: relative;
  display: flex;
  gap: 16px;
  background-color: variables.color("Navy-600");
  color: variables.color("Gray-100");
  align-items: center;
  font-family: "poppins";
  padding: 16px;
  border-radius: 16px;
  overflow: visible;
  width: 720px;
  margin: 64px;

  &:hover {
    background-color: variables.color("Navy-400");
  }

  .podcastInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .podcastInfo h1 {
    font-weight: 600;
    font-size: 24px;
  }

  .podcastInfo p {
    color: variables.color("Gray-400");
    font-size: 16px;
  }

  .podcastCover {
    border-radius: 8px;
  }

  .authorCover {
    position: absolute;
    top: -10px;
    right: -10px;
    object-fit: cover;
    background-color: variables.color("Navy-900");
    border-radius: 16px;
    padding: 8px;
    z-index: 2;
  }
}
