/* Thin */
@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins-100.ttf");
  font-weight: 100;
}

/* Light */
@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins-200.ttf");
  font-weight: 200;
}

/* Regular */
@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins-300.ttf");
  font-weight: 300;
}

/* Medium */
@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins-400.ttf");
  font-weight: 400;
}

/* Bold */
@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins-500.ttf");
  font-weight: 500;
}

/* Semi-Bold */
@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins-600.ttf");
  font-weight: 600;
}
