@use "variables";
@use "podcast-Items";
@use "sideBar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "markazi";
}

body {
  background-color: variables.color("Navy-900");
}

.content {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 24px;
  margin-left: 10px;

  .titleBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    color: variables.color("Gray-100");
    padding: 0 16px;
  }

  .titleBtn button {
    border: 2px solid variables.color("Navy-400");
    background-color: transparent;
    color: variables.color("Gray-100");
    padding: 8px 40px;
    border-radius: 16px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    font-size: 16px;
  }

  .titleBtn button:hover {
    background-color: variables.color("Navy-400");
  }

  .episodeContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 8px;
  }
}
